@charset "utf-8";
@import 'normalize';


////////////////////////////////////////////////////////////////////////////////
// Custom Styling
////////////////////////////////////////////////////////////////////////////////

.success{
  color: #28a745;
}

.error, .danger{
  color: #d14;
}

.label{
  color: white;  
  border-radius: 4px;
  padding: 1px 2px;
  font-size: 12px;
  &.danger{
    background: #d14;
  }
  &.success{
    background: #28a745;
  }
  &.warning{
    background: #e7b731;
    color : #444;
  }
}

.required{
  color: #ffae54;
}

.warning {
  color: #a05e15
}

.optional{
  color: #939da3;
}

#noticeAside{
  font-style:italic;
  font-family: system-ui; 
}

a.api-ref{
  color: #0893d8;
  text-decoration: none;
  &:hover{
    color: #202223;
  }
}

.nowrap{
  white-space: nowrap;
}